@font-face {
  font-family: "Nanum Barun Gothic";
  src: url("public/fonts/NanumBarunGothic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nanum Barun Gothic";
  src: url("public/fonts/NanumBarunGothicLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Nanum Barun Gothic";
  src: url("public/fonts/NanumBarunGothicBold.ttf") format("truetype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
input,
button {
  font-family: "Nanum Barun Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  letter-spacing: 0;
  color: #2b292d;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
